body {
    background-color: rgb(173, 173, 236);
    color:rgb(15, 5, 110);
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: rgb(15, 5, 110);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

nav ul {
    list-style-type: none;
    background-color: rgb(14, 121, 139);
    padding: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
}

footer{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(14, 121, 139);
    padding: 10px;
}

.FordMustang{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}