body {
    background-color: lightblue;
    color:darkblue;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

nav ul {
    list-style-type: none;
    background-color: blue;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 20px 0;
}

footer{
    text-align: center;
    margin-top: 20px;
    background-color: blue;
    padding: 10px;
}

hr {
    border: 1px solid darkblue;
    margin: 20px 0;
}

.FordMustang{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.CarBox{
    border: 2px solid rgb(14, 121, 139);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: lightgrey;
    text-align: center;
}